*{
    box-sizing:border-box;
    margin:0;
}
.new {
    font-family: 'Pacifico', cursive !important;
}
body{
    background-color:white;
    font-family: 'Merienda', cursive;
    font-family: 'Kaushan Script', cursive;
}
.topnav {
    background-color:white;
    overflow: hidden;

    
}


/* Style the links inside the navigation bar */
.topnav a  {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color:pink;
}

/* Add a color to the active/current link */
.topnav a.active {
  
  color:pink;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  
}
.carousel-caption{
    padding-top:40px;
}
.products{
    margin-top:15px;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8; 
    cursor: pointer; 
}
/* Clear floats after the columns */
.products .row:after {
    content: "";
    display: table;
    clear: both;
}
.heading{
    margin:20px;
    font-size:32px;
}
.head{
    margin-top:20px;
    font-size:34px;
}
.products{
    background-color:gainsboro;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.footer {
    background-color:white;
    color:black;
    width:100%;


}
.box1{
    width:100% !important;
    height:150px;
    padding:30px 0 0px 0px;
    background-color:white;
    margin-top:40px;
    margin-right: 0px !important;
}
hr{
    border:1px solid black;
}
.img-carousel{
    margin-left:200px;
    border-radius:2px;
}
.carousel-item{
    background-color:lightpink;
}
#logo{
    width:50px;
    height:50px;
    align-self: left;
    margin-left:30px;
}
